<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBLbiqPE1NVr84BhNOze4rYeo_UoAbTNE</string>
	<key>GCM_SENDER_ID</key>
	<string>1084114580182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ezpcTasksApp</string>
	<key>PROJECT_ID</key>
	<string>ezpc-tasks</string>
	<key>STORAGE_BUCKET</key>
	<string>ezpc-tasks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084114580182:ios:00c4a586163a774f58cf77</string>
</dict>
</plist>